.img {
    min-width: 208px;
    width: 100%;
    box-shadow:1px 0px 12px 6px rgba(218,216,216,1);
    -webkit-box-shadow:1px 0px 12px 6px rgba(218,216,216,1);
    -moz-box-shadow:1px 0px 12px 6px rgba(218,216,216,1);
    border-radius: 6px;
}